<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="item">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="<%= @item.image_url %>" alt="">
        </div>
        <div class="panel-body">
          <p class="item-title"><%= @item.name %></p>
        </div>
        <div class="buttons text-center">
          <%= render 'ownerships/want_button', item: @item %>
          <%= render 'ownerships/have_button', item: @item %>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="want_user">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          Wantしたユーザー
        </div>
        <div class="panel-body">
          <% @want_users.each do |user| %>
            <%= link_to user.name, user_path(user) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="have-user">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          Haveしたユーザー
        </div>
        <div class="panel-body">
          <% @have_users.each do |user| %>
            <%= link_to user.name, user_path(user) %>
          <% end %>
        </div>
      </div>
      <p class="text-center"><%= link_to '楽天詳細ページ', @item.url, target: '_blank' %></p>
    </div>
  </div>